---
---

@import 'fonts.css';

* {
  box-sizing: border-box;
}

pre {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  text-transform: lowercase;
}

body {
  background-color: #f8f8f8;
  color: #2e2d29;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#topnav,
footer {
  background-color: #8c1515;
  color: #dad7cb;
  font-family: Source Sans Pro;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

header {
  background: #fff;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #999;
}

main {
  margin: 2rem;
  flex: auto;
}

h1 {
  font-size: 2.215rem;
  font-family: Source Sans Pro;
  line-height: 1.875rem;
  margin-bottom: 1rem;
}

h2 {
  color: rgba(67, 66, 62, 0.8);
  font-size: 1.5rem;
  font-family: Source Sans Pro;
  margin-top: 0;
  line-height: 1.875rem;
}

h3 {
  font-family: Source Sans Pro;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  padding-bottom: 3px;
}

h3:first-of-type {
  margin-top: 0;
}

p {
  line-height: 1.3;
}

dt {
  color: #444;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

dd {
  line-height: 1.3;
  margin-bottom: 1rem;
  margin-left: 1.25rem;
}

p,
dd {
  max-width: 68ch;
}

.section {
  border-top: 1px solid #999;
  margin-top: 1.5rem;
  padding-top: 1rem;
}

.wallscreens-list,
.experiences-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-family: Source Sans Pro;

  li {
    max-width: 400px;
    color: #333333;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5em;
  }

  img {
    border: 1px solid #333;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    box-shadow: 2px 2px 5px #999;
  }

  h4 {
    margin: 0;
    font-size: 1.375rem;
    font-weight: 300;
  }

  a:link, a:visited {
    color: #8C1515;
    text-decoration: none;
  }
}
