@import 'fonts.css';

* {
  box-sizing: border-box;
}

pre {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  text-transform: lowercase;
}

body {
  background-color: #f8f8f8;
  color: #2e2d29;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#topnav {
  background-color: #8c1515;
  height: 37px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

header {
  background: #fff;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #999;
}

main, footer {
  margin: 2rem;
}

h1 {
  font-size: 2.215rem;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 1rem;
}

h2 {
  color: rgba(67, 66, 62, 0.8);
  font-size: 1.5rem;
  font-family: Source Sans Pro;
  font-weight: 400;
  margin-top: 0;
  line-height: 1.875rem;
}

h3 {
  font-family: Source Sans Pro;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 3rem;
  padding-bottom: 3px;
}

h3:first-of-type {
  margin-top: 0;
}

p {
  line-height: 1.3;
}

dt {
  color: #444;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

dd {
  line-height: 1.3;
  margin-bottom: 1rem;
  margin-left: 1.25rem;
}

p,
dd {
  max-width: 68ch;
}

.section {
  border-top: 1px solid #999;
  margin-top: 1.5rem;
  padding-top: 1rem;
}

.wallscreens-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
  font-family: Source Sans Pro;
}

.wallscreens-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5em;
}

.wallscreens-list img {
  max-width: 353px;
  border: 1px solid #333;
}

.wallscreens-list h4 {
  margin: 0;
  font-size: 1.375rem;
  font-weight: 300;
}

.wallscreens-list a:link, .wallscreens-list a:visited {
  color: #8C1515;
  text-decoration: none;
}
