---
---

body {
}

.wallscreen {
  --wallscreen-width: 3840px;
  --wallscreen-height: calc(var(--wallscreen-width) * 0.5625);
  height: var(--wallscreen-height);
  width: var(--wallscreen-width);
  margin: 0 auto;
  padding-right: 0;
}

.title-area h1 {
  font-size: 115.2px;
}

.content-area {
  background-color: #000;
}

.title-card {
  font-size: 102px;
  margin: 0 108px;
  text-align: center;
}

pre {
  font-size: 48px;
}
