* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-size: 1vw;
  height: 100vh;
  margin: 0;
  padding: 8px;
}

pre {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  text-transform: lowercase;
}

.wallscreen {
  /* For testing purposes, enable the "wallscreen" to be any size,
     but keep the height and width proportional */
  --wallscreen-width: calc(100vw - 8px);
  --wallscreen-height: calc(var(--wallscreen-width) * 0.5625);
  height: var(--wallscreen-height);
  width: var(--wallscreen-width);

  padding-right: 5px;

  display: grid;
  grid-template-areas: "title title"
                       "content card"
                       "interaction interaction";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.title-area,
.content-area,
.card-area,
.interaction-area {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.title-area {
  background: #d5d5d4;
  grid-area: title;
}

.content-area {
  background: #eaeaea;
  grid-area: content;
}

.card-area {
  background: #f4f4f4;
  grid-area: card;
}

.interaction-area {
  background: #d5d5d4;
  grid-area: interaction;
}
