body {
}

.wallscreen {
  --wallscreen-width: 1280px;
  --wallscreen-height: calc(var(--wallscreen-width) * 0.5625);
  height: var(--wallscreen-height);
  width: var(--wallscreen-width);
  margin: 0 auto;
  padding-right: 0;
}

.title-area h1 {
  font-size: 38.4px;
}

.content-area {
  background-color: #000;
}

.title-card {
  font-size: 34px;
  margin: 0 36px;
  text-align: center;
}
