button, .button {
  display: inline-block;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
  font-family: "Source Sans Pro", sans-sans-serif;;
  font-size: 1em;
  color: #000;
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
}

.button.active {
  box-shadow: none;
  background-color: var(--color-primary);
  color: #fff;
}

.disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.8;
}

button .fas,
.button .fas {
  color: var(--color-stone-dark);
}

button .fas:first-child, .button .fas:first-child {
  margin-right: 0.25rem;
}

button .fas:last-child, .button .fas:last-child {
  margin-left: 0.25rem;
}
