.title-area h1 {
  font-size: 38.4px;
}

.interaction-area {
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  border-radius: 4px;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
}
