* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-size: clamp(1rem, 1vw, 32px);
  line-height: 1.6em;
  height: 100vh;
  margin: 0;
  padding: 8px;

  --color-primary: #8C1515;
  --color-primary-dark: #820000;
  --color-secondary: #dad7cb;

  --color-archway-dark: #2F2424;
}

pre {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  text-transform: lowercase;
}



.wallscreen {
  /* For testing purposes, enable the "wallscreen" to be any size,
     but keep the height and width proportional */
 --aspect-ratio: 16/9;
  aspect-ratio: var(--aspect-ratio);

  padding-right: 5px;

  display: grid;
  grid-template: "title title" 1fr
                 "content card" 8fr
                 "interaction interaction" 1fr / 2fr 1fr;
}

@supports (not (aspect-ratio: 1 / 1)) {
  .wallscreen {
    --wallscreen-width: calc(100vw - 8px);
    --wallscreen-height: calc(var(--wallscreen-width) * (1 / (var(--aspect-ratio))));
    height: var(--wallscreen-height);
    width: var(--wallscreen-width);
  }
}

.title-area,
.content-area {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title-area {
  background: #d5d5d4;
  grid-area: title;
}

.content-area {
  background: #eaeaea;
  grid-area: content;
}

.card-area {
  justify-content: space-between;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  grid-area: card;
  padding: 1rem;
}

.experience-index {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.card-area h2 {
  color: var(--color-primary-dark);
  font-weight: 700;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.card-area h3 {
  color: var(--color-archway-dark);
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.separator {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.item-note {
  font-style: italic;
  margin-top: 0.5rem;
}

.item-url {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 700;
}

.qrcode {
  margin-left: -6px;
}

.experience-summary {
  padding-top: 1em;
  border-top: 1px solid #ddd;
}

.card-area h2 + .experience-summary {
  border-top: none;
}

.card-nav {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.interaction-area {
  background: #d5d5d4;
  grid-area: interaction;

  display: grid;
  grid-template: "experience secondary" 1fr / 2fr 1fr;
}

.experience-buttons {
  display: flex;
  grid-area: experience;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.secondary-buttons {
  display: flex;
  grid-area: secondary;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
