body {
  background-color: #999;
}

.wallscreen {
  color: #2e2d29;
  font-family: 'Source Sans Pro', sans-serif;
}

.title-area {
  background-color: #2e2d29;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title-area h1 {
  color: #fff;
  font-size: 3vw;
  font-weight: 400;
}

.content-area {
  background-color: #000;
  color: #fff;
}

.card-area {
  background-color: #f4f4f4;
}

.interaction-area {
  background-color: #2e2d29;
  color: #fff;
}
