body {
}

.title-area h1 {
  font-size: 38.4px;
}

.content-area {
  background-color: #000;
}

.title-card {
  font-size: 34px;
  margin: 0 36px;
  text-align: center;
}

.current {
  background-color: palevioletred;
}

.theme-chapter-list {
  list-style: none;
  padding-left: 0;
}
