// -----------------------------------------------------------------------------
// Styles for oral history/video experiences
// -----------------------------------------------------------------------------

.wallscreen.oral-history {
  .title-card {
    font-size: 34px;
    margin: 0 36px;
    text-align: center;
  }

  .theme-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1em 0 .75em;
  }

  .theme-chapter-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .chapter {
    display: flex;
    gap: 25px;
    padding: .75em .6em;
    border-radius: 3px;
    transition: background-color 1s ease;
    font-size: 1.25rem;
  }

  .chapter.current {
    background-color: $su-color-stone-light;
  }

  .chapter-thumbnail {
    flex: none;
    width: 3.25em;
    height: 3.25em;
    border: 1px solid #979694;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  }

  .chapter-title {
    font-size: 1.25rem;
    line-height: 1.3;
    flex: auto;
    margin: 0;
    font-weight: normal;
  }

  p.experience-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    max-width: 85%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
}
