/* styles for guided tour experiences */

.bio-card-area {
  padding-top: 1em;
  border-top: 1px solid #ddd;
}

.bio-card {
  display: flex;
  gap: 25px;
  padding: 15px 10px;
  border-radius: 3px;
  background-color: var(--color-secondary);
  font-size: 1.25rem;
}

.bio-card-thumbnail {
  width: 70px;
  height: 70px;
  border: 1px solid #979694;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
}

.bio-card-title {
  font-weight: normal;
}

.bio-card-description {
  font-style: italic;
}

.caption {
  position: absolute;
  bottom: 2rem;
  max-height: 20vw;
  max-width: 70ch;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
  color: black;
  padding: 1.5rem;
}
