---
layout: home
---
<header>
  <h1>Wallscreens</h1>
  <h2>At the Stanford Libraries</h2>
</header>

<main>
  {% for location in site.data.locations %}
    <h3>{{ location.title }}</h3>
    <p>{{ location.description }}</p>

    {% assign wallscreens = site.data.wallscreens | where: "location", location.title %}
    <ul class="wallscreens-list">
      {% for wallscreen in wallscreens %}
        <li>
          <a aria-hidden="true" href="{% link _wallscreens/{{ wallscreen.key }}/index.html %}"><img src="{% link images/wallscreens/{{ wallscreen.key }}.png %}" /></a>
          <h4><a href="{% link _wallscreens/{{ wallscreen.key }}/index.html %}">{{ wallscreen.title }}</a></h4>
          <span>{{ wallscreen.subtitle }}</span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</main>

<footer>
  <span class="version">{{ site.git_info }}</span>
  <span class="build-date">{{ site.time | date: "%Y-%m-%d" }}</span>
</footer>
