// Set default panning attract mode styles.
.attract-mode-pan .attract-image {
  animation: panImage 12s ease-in-out infinite alternate-reverse both;
  animation-delay: 4s;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 120%;
  height: 60vh;
  opacity: 0.7;
  overflow: hidden;
  width: 51vw;
}

@keyframes panImage {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
