$btn-border-radius: 0.25rem !default;
$btn-disabled-opacity: 0.8;
$btn-box-shadow: inset 0 1px 0 rgba($su-color-white, .25), 0 4px 5px rgba($su-color-black-true, .25) !default;
$btn-focus-box-shadow: 0 0 0 0.25rem rgba($su-color-black-true, 0.25) !default;
$btn-active-box-shadow: inset 0px 0px 6px 1px rgba(130,0,0,0.2) !default;
$btn-padding: .75em;
$btn-padding-lg: 1.25em;
$btn-font-family: "Open Sans", sans-sans-serif;

button, .button {
  font-size: 1.125rem;  // 16px; change this to rescale the button
  font-weight: 500;
  gap: 0.75em;  // gap between text and icon; ~10px
  line-height: 1.25;  // ~20px
  display: inline-flex;
  align-items: center;
  background-color: var(--color-secondary);
  border: none;
  border-radius: $btn-border-radius;
  box-shadow: $btn-box-shadow;
  font-family: $btn-font-family;
  color: $su-color-black-true;
  padding: $btn-padding $btn-padding-lg;
  text-decoration: none;

  &:hover {
    color: $su-color-black-true;
  }

  &:focus {
    box-shadow: $btn-focus-box-shadow;
  }

  &:active {
    box-shadow: $btn-active-box-shadow;
  }

  &.active {
    box-shadow: none;
    background-color: var(--color-primary);
    color: $su-color-white;
  }

  &.disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
  }

  // buttons with slightly larger font
  &.tall {
    font-size: 1.2rem; // ~18px
  }

  .fas {
    color: $su-color-stone-dark;
  }
}

.experience-buttons,
.secondary-buttons {
  .button, button {
    border-radius: 0.5rem;
    color: $su-color-black;
    font-weight: 600;
    text-shadow: 0 3px 0 rgba(255,255,255,0.4);

    &.active {
      box-shadow: inset 0px 0px 6px 1px rgba(130,0,0,0.2);
      color: $su-color-foggy-light;
      text-shadow: 0 3px 0 rgba(0,0,0,0.2);
    }
  }
}

.experience-buttons .button {
  box-shadow: inset 0px 0px 16px 4px rgba(0,0,0,0.15);
  font-size: 1.3rem;
  padding: 0.75em 1.25em;
}

.secondary-buttons {
  .button, button {
    box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.2);
    padding: 0.85em 1.25em;
    text-transform: uppercase;
  }
}

.button.select-button, .button.start-button {
  border-radius: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 0.75em 1.75em 0.5em 2.25em;
  
  .select-experience, .begin-experience {
    color: $su-color-cardinal-red-dark;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 0.25em;
    text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
  }
}

.button.select-button {
  border-radius: 0.33rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5em;
  padding: 0.75em 1.75em 0.5em 2em;

  .select-experience {
    font-family: 'Rajdhani', 'Open Sans', sans-serif;
    font-size: 1.6rem;
    padding-bottom: 0;
    text-transform: none;
  }

  .fa-arrow-alt-circle-right {
    font-size: 1.4rem;
    margin-left: 0.25rem;
  }
}

.start-button-container {
  animation: slowPulse 10s infinite;
  animation-delay: 5s;
  border-radius: 1rem;
}

.button.start-button {
  .button-content {
    display: flex;
  }

  .button-icon {
    flex-direction: row;
    display: flex;

    .fa-hand-pointer {
      align-self: center;
      color: $su-color-black-60;
      font-size: 2.25rem;
      margin-left: 1em;
    }

    .material-touch-icon {
      align-self: center;
      font-size: 2.25rem;
      height: 2.75rem;
      margin-left: 1em;
    }
  }

  .button-labels {
    flex-direction: column;
    display: flex;

    .experience-duration {
      font-size: 1rem;
      font-style: italic;
    }
  }
}

@keyframes slowPulse {
	0% {
		box-shadow: 0 0 0 0 rgba(130, 0, 0, 0.5);
	}

	70% {
		box-shadow: 0 0 0 30px rgba(130, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(130, 0, 0, 0);
	}
}
