.card-area h2 {
  color: var(--color-primary-dark);
  font-weight: 600;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.card-area h2.border-none {
  padding-bottom: 0em;
  margin-bottom: 0.5em;
}

.experience-subtitle, .experience-attribution {
  text-align: center;
}

/* paragraph-style subtitle for oral histories */
p.experience-subtitle {
  margin: 0 auto 10px;
  line-height: 25px;
  max-width: 85%;
  text-align: left;
}

.card-area h3 {
  color: $su-color-archway-dark;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}

.separator {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.item-caption {
  font-style: italic;
  margin-top: 0.5rem;
}

.item-url {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 600;
}

.experience-attribution {
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.card-area h2 + .experience-summary {
  border-top: none;
}

.card-nav {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.caption {
  position: absolute;
  bottom: 2vw;
  max-height: 20vw;
  max-width: 80%;

  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
  color: black;
  padding: 1vw;
}

.dig-deeper-card {
  display: flex;
  gap: 1rem;
}

.dig-deeper-card .item-url {
  align-items: flex-start;
  gap: 1rem;
  width: 18ch;
  flex-shrink: 0;
}

/* Last Card */

.last-card h3 {
  margin-top: 30px;
  text-transform: uppercase;
}

.last-card .experience-subtitle {
  text-transform: none;
}

.last-card .dig-deeper-card {
  padding-top: 25px;
}

.card-footer h3 {
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
}

.card-footer h3:before {
  right: 0.5em;
  margin-left: -50%;
}

.card-footer h3:after {
  left: 0.5em;
  margin-right: -50%;
}

.card-footer h3:before,
.card-footer h3:after {
  background-color: #ddd;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
