// -----------------------------------------------------------------------------
// Informational panels/cards on the right side of wallscreen experiences
// -----------------------------------------------------------------------------

/* Card */
.experience-title, 
.experience-subtitle,
.experience-attribution {
  text-align: center;
}

.experience-title {
  font-size: 2rem;
  color: var(--color-primary-dark);
  font-weight: 600;
}

.experience-subtitle {
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 600;
}

.experience-summary {
  font-size: 1.25rem;
  line-height: 1.5;
}

.experience-attribution {
  font-size: 1.25rem;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.separator {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

/* Start, previous, and next buttons */
.card-nav {
  display: flex;
  justify-content: center;
  gap: 2em;
}

/* Last Card */
.last-card {
  
  // "dig deeper" and "explore other..." text
  h3 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 30px;
    text-transform: uppercase;
  }

  .experience-title {
    border: none;
  }

  .experience-subtitle {
    text-transform: none;
  }
}

.dig-deeper-card {
  padding-top: 25px;
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;

  .item-url {
    align-items: flex-start;
    gap: 1rem;
    width: 20ch;
    flex-shrink: 0;
  }
}

.card-footer h3 {
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }

  &:before,
  &:after {
    background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
}
