// -----------------------------------------------------------------------------
// Informational panels/cards on the right side of wallscreen experiences
// -----------------------------------------------------------------------------

/* Card area */
.card-area {
  overflow: scroll;
}

/* Card */
.card-content hr {
  flex: none;
}

.experience-title,
.experience-subtitle,
.experience-attribution {
  text-align: center;
}

.experience-title {
  font-size: 2rem;
  color: var(--color-primary-dark);
  font-weight: 600;
}

.experience-subtitle {
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 0.2em;
}

.experience-summary {
  font-size: 1.25rem;
  line-height: 1.5;
}

.experience-attribution {
  font-size: 1.25rem;
  margin-top: 0.5em;
}

.separator {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.item-url {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 600;
  gap: 1.5rem;
  line-height: 1.5;
  margin-top: 1.25em;
}

/* Experience index cards */
.experience-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Start, previous, and next buttons */
.card-nav {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

/* Last Card */
.last-card {
  .dig-deeper {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .experience-subtitle {
    text-transform: none;
  }
}

.dig-deeper-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem 0;
}

.dig-deeper-link {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;

  .item-url {
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0;
  }

  .link-type {
    margin-top: -0.3em;
  }

  .link-text {
    display: block;
    margin-top: 1em;
  }
}

// "explore other..." text
.card-footer h3 {
  margin-bottom: 1.5em;
  overflow: hidden;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;

  &:before {
    right: 1em;
    margin-left: -50%;
  }

  &:after {
    left: 1em;
    margin-right: -50%;
  }

  &:before,
  &:after {
    background-color: $su-color-black-20;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
}
