// -----------------------------------------------------------------------------
// Global styles & overrides for basic HTML elements
// -----------------------------------------------------------------------------

// Globally apply font-smoothing to improve rendering of text
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

// Scale UI elements up 2x when displayed on physical wallscreen
html {
    font-size: 1rem;

    @include wallscreen {
        font-size: 2rem;
    }
}

// Use more intuitive box-sizing for all elements
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Default line-height for text content
body {
    line-height: 1.25;
}

// Styles for preformatted italics/bold in curator descriptions
i {
    font-style: italic;
}

b {
    font-weight: bold;
}