body {
  background-color: #000;
  height: 100vh;
  margin: 0;
  padding: 8px;

  --color-primary: #{$su-color-cardinal-red};
  --color-primary-dark: #{$su-color-cardinal-red-dark};
  --color-secondary: #{$su-color-foggy};
}

pre {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  text-transform: lowercase;
}

.wallscreen {
  color: $su-color-black;
  font-family: 'Source Sans Pro', sans-serif;

  /* For testing purposes, enable the "wallscreen" to be any size,
     but keep the height and width proportional */
 --aspect-ratio: 16/9;
  aspect-ratio: var(--aspect-ratio);

  padding-right: 5px;

  display: grid;
  grid-template: "title title" 1fr
                 "content card" 8fr
                 "interaction interaction" 1fr / 2fr 1fr;
}

@supports (not (aspect-ratio: 1 / 1)) {
  .wallscreen {
    --wallscreen-width: calc(100vw - 8px);
    --wallscreen-height: calc(var(--wallscreen-width) * (1 / (var(--aspect-ratio))));
    height: var(--wallscreen-height);
    width: var(--wallscreen-width);
  }
}

@media only screen and (max-width: 768px) {
  .wallscreen {
    height: auto;
    width: 100%;

    grid-template: "title title" auto
                   "content content" auto
                   "card card" auto
                   "interaction interaction" auto / 2fr 1fr !important;
   }

   .card-nav {
     order: -1;
   }
}

.title-area,
.content-area {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title-area {
  background-color: $su-color-black;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  grid-area: title;
}

.header-logo {
  height: 2.5rem;
  position: absolute;
  left: 3rem;
}

.title-area h1 {
  color: $su-color-white;
  font-size: 4rem;
  line-height: 1.25;
}

.content-area {
  background-color: $su-color-black-true;
  color: $su-color-white;
  grid-area: content;
  position: relative;
}

.program-content, .preview-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.card-area {
  justify-content: space-between;
  background: $su-color-foggy-light;
  display: flex;
  flex-direction: column;
  grid-area: card;
  padding: 4rem;
}

.card {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.experience-index {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.interaction-area {
  background-color: $su-color-black;
  color: $su-color-white;
  grid-area: interaction;

  display: grid;
  grid-template: "experience secondary" 1fr / 2fr 1fr;
}

.experience-buttons {
  display: flex;
  grid-area: experience;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.secondary-buttons {
  display: flex;
  grid-area: secondary;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.build-timestamp {
  color: lighten($su-color-black, 3%);
  font-size: .6rem;
  padding: 0 0 5px 15px;
}
