// -----------------------------------------------------------------------------
// Styles for audio/video players, images, SVGs, etc.
// -----------------------------------------------------------------------------

video {
    max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}