// -----------------------------------------------------------------------------
// "More info" modal available on all experiences
// -----------------------------------------------------------------------------

.more-info-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 1.5;

  > .inner {
    padding: 2.75rem 8.75rem;
    background-color: #f4f4f4;
    max-width: 90vw;
    max-height: 95vh;
    overflow: scroll;
    color: #2E2D29;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .title {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 600;
  }

  .content {
    columns: 2;
    column-gap: 140px;
    margin-top: 0.9em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ABABA9;
  }

  h4 {
    font-size: 1.1rem;
    line-height: 2;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0.6em;
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
    row-gap: 20px;
    margin-top: 0.5em;
  }

  .links li {
    position: relative;
    padding-left: 4.5em;
  }

  .links a {
    color: inherit;
    text-decoration: none;
  }

  .link-title {
    font-weight: 600;
  }

  .link-email::before {
    content: "• ";
    padding: 0 0.25em;
  }

  .link-text {
    display: block;
  }

  // hide link URLs but show QR code
  .link-url > span {
    display: none;
  }

  .qrcode {
    position: absolute;
    left: 0;
    top: .4em;
  }

  .close {
    display: block;
    margin: 1.5rem auto 0;
    background-color: var(--color-primary-dark);
    color: white;
  }
}
