// -----------------------------------------------------------------------------
// Styles for text elements
// -----------------------------------------------------------------------------

// Looser spacing for paragraphs
p {
    line-height: 1.5;
}

// Restore bold/italic formatting from curators
i, em {
    font-style: italic;
}
b, strong {
    font-weight: bold;
}

// Horizontal rules
hr {
    width: 100%;
    height: 1px;
    background-color: $su-color-black-20;
    border: none;
    margin: 2rem auto;

    // Half-width version
    &.small {
        width: 50%;
    }
}