{% assign wallscreen = site.data.wallscreens[page.wallscreen] %}
{% assign experience = site.data.experiences[page.experience] %}

<div class="experience-buttons">
  {% if experience.type == "slideshow" %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ page.experience }}/index.html %}" class="active tall button">{{ experience.button_label }}</a>
  {% elsif wallscreen.nav.defaults.slideshow %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ wallscreen.nav.defaults.slideshow }}/index.html %}" class="tall button">{{ site.data.experiences[wallscreen.nav.defaults.slideshow].button_label }}</a>
  {% endif %}

  {% if experience.type == "tour" %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ page.experience }}/index.html %}" class="active tall button">{{ experience.button_label }}</a>
  {% elsif wallscreen.nav.defaults.tour %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ wallscreen.nav.defaults.tour }}/index.html %}" class="tall button">{{ site.data.experiences[wallscreen.nav.defaults.tour].button_label }}</a>
  {% endif %}

  {% if experience.type == "video" %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ page.experience }}/index.html %}" class="active tall button">{{ experience.button_label }}</a>
  {% elsif wallscreen.nav.defaults.video %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ wallscreen.nav.defaults.video }}/index.html %}" class="tall button">{{ site.data.experiences[wallscreen.nav.defaults.video].button_label }}</a>
  {% endif %}
</div>

<div class="secondary-buttons">
  {% if page.wallscreen and page.experience %}
  <a class="tall button" href="{% link _wallscreens/{{ page.wallscreen }}/{{ page.experience }}/index.html %}"><i class="fas fa-redo"></i> <span>Start over</span></a>
  {% else %}
  <button class="tall"><i class="fas fa-redo"></i> <span>Start over</span></button>
  {% endif %}
  <button class="tall more-info" data-action="more-info#show"><i class="fas fa-info-circle"></i> <span>More info</span></button>
</div>
