<div class="more-info-modal" data-more-info-target="modal" hidden>
  <div class="inner">
    <h2 class="title">{{ wallscreen.more_info.title }}</h2>
    <div class="content">
      {{ wallscreen.more_info.content }}
    </div>
    <hr/>
    <h4>For more information</h4>
    <ul class="links">
    {% for link in wallscreen.more_info.links %}
      <li>
        <span class="link-title">{{ link.title }}</span>
        {% if link.email %}<span class="link-email">{{ link.email }}</span>{% endif %}
        <span class="link-text">{{ link.text }}</span>
        <a class="link-url" href="{{ link.url }}" data-qr>
          <span>{{ link.url }}</span>
        </a>
      </li>
    {% endfor %}
    </ul>
    <button class="close" data-action="more-info#hide">Close</button>
    <div class="debug-info">
      <span class="version">{{ site.git_info }}</span>
      <span class="build-date">{{ site.time | date: "%Y-%m-%d" }}</span>
    </div>
  </div>
</div>
