{% assign wallscreen = site.data.wallscreens[page.wallscreen] %}
{% assign experience = site.data.experiences[page.experience] %}

{% include _header.html %}

<main class="content-area">
  <div class="guided-tour-main-content" data-guided-tour-target="guidedTourMainContent" hidden>
    <div id="openseadragon" style="width: 100%; height: 100%"></div>
    <script type="text/javascript">
      image_url = "{% file_or_link {{experience.local_image}} {{experience.image}} %}";
      if (image_url.endsWith('.json')) {
        tile_sources = image_url;
      } else {
        tile_sources = `{ "type": "image", "url": "${image_url}" }`;
      }

      window.viewer = OpenSeadragon({
          id: "openseadragon",
          showNavigationControl: false,
          animationTime: 2.5,
          springStiffness: 5.0,
          panHorizontal: false,
          panVertical: false,
          minZoomLevel: 1,
          maxZoomLevel: 1,
          defaultZoomLevel: 1.08,
          tileSources: tile_sources
      });
    </script>
    <div class="caption" data-guided-tour-target="caption"></div>
  </div>
  <div class="attract-mode-pan" data-guided-tour-target="attractPanContainer">
    <div class="attract-image" style="background-image: url({% file_or_link {{experience.attract_image.local_image}} {{experience.attract_image.image}} %})"></div>
  </div>
</main>

<aside class="card-area">
  <div class="card" data-guided-tour-target="slides">
    <div class="card-content experience-start">
      {% include _experience_title.html %}
      {% include _experience_attribution.html %}
      <hr/>
      <p class="experience-summary">{{ experience.summary }}</p>
    </div>
    {% include _nav_first_card.html %}
  </div>

  <div class="card" data-guided-tour-target="slideContainer" hidden>
    <div class="card-content">
      {% include _experience_title.html %}
      {% include _experience_attribution.html %}
      <hr/>
      <p class="experience-summary">{{ experience.short_summary }}</p>
      <div class="bio-card-area">
        {% for item in experience.items %}
        <div {% if item.bio %}id="{{ item.key }}"{% endif %} data-guided-tour-target="slides">
          {% if item.bio %}
              <hr class="small"/>
              <div class="bio-card">
                <img class="bio-card-thumbnail" src="{% file_or_link images/wallscreens/{{page.wallscreen}}/{{page.experience}}/{{item.key}}.png https://via.placeholder.com/200x200 %}">
                <div class="bio-card-info">
                  <h4 class="bio-card-title">{{ item.bio.title }}</h4>
                  <p class="bio-card-description">{{ item.bio.description }}</p>
                </div>
              </div>
            {% endif %}
            <script type="application/json">
              {{ item | jsonify }}
            </script>
          </div>
        {% endfor %}
      </div>
    </div>

    {% include _nav_card.html %}
  </div>

  <div id="last" class="card last-card" data-guided-tour-target="slides" hidden>
    <div class="card-content">
      {% include _experience_title.html %}
      {% include _experience_attribution.html %}
      <hr/>
      {% include _dig_deeper.html %}
    </div>
    {% include _nav_last_card.html %}
  </div>
</aside>

<footer class="interaction-area">
  {% include _interaction_area.html %}
</footer>

{% include _modal.html %}
