{% assign wallscreen = site.data.wallscreens[page.wallscreen] %}
{% assign experience = site.data.experiences[page.experience] %}

{% include _header.html %}

<main class="content-area">
  <div data-oral-history-target="videoContainer" hidden>
    <video data-oral-history-target="video" muted="true">
      <source src="{% file_or_link {{experience.local_file}} {{experience.file}} %}" type="video/mp4">
    </video>
  </div>
  <div class="attract-mode-grid" data-oral-history-target="attractGridContainer">
    {% for image in experience.attract_images limit: 9 %}
      <div class="attract-image" style="background-image: url({% link {{image}} %})"></div>
    {% endfor %}
  </div>
</main>

<aside class="card-area">
  <div class="card" data-oral-history-target="steps">
    <div class="card-content experience-index">
      {% include _experience_title.html %}
      <!-- {% include _experience_attribution.html %} -->
      <hr/>

      <p class="experience-summary">{{ experience.summary}}</p>
    </div>
    {% include _nav_first_card.html %}
  </div>

  <div class="card" data-oral-history-target="chapterContainer" hidden>
    <div class="card-content">
      {% include _experience_title.html %}
      <!-- {% include _experience_attribution.html %} -->
      <hr/>
      {% assign themes = experience.items | group_by:"theme" %}
      {% for theme in themes %}
        <div class="theme" data-oral-history-target="chapterContainer" hidden>
          <h3 class="theme-name">{{ theme.name }}</h3>
          <ul class="theme-chapter-list">
            {% for item in theme.items %}
              <li id="{{ item.key }}" class="chapter {{ item.class }}" data-timestamp="{{ item.timestamp }}" data-oral-history-target="steps">
                <img class="chapter-thumbnail" src="{% link _wallscreens/{{ page.wallscreen }}/{{ page.experience }}/thumbnails/{{ item.key }}.png %}" />
                <h4 class="chapter-title">{{ item.title }}</h4>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>

    {% include _nav_card.html %}
  </div>

  <div id="last" class="card last-card" data-oral-history-target="steps" hidden>
    <div class="card-content">
      {% include _experience_title.html %}
      <!-- {% include _experience_attribution.html %} -->
      <hr/>
      {% include _dig_deeper.html %}
    </div>
    {% include _nav_last_card.html %}
  </div>
</aside>

<footer class="interaction-area">
  {% include _interaction_area.html %}
</footer>

{% include _modal.html %}
