---
title: Bay Area Video Arcades
description: ""
wallscreen: silicon-valley
experience: video-arcades
---
{% assign wallscreen = site.data.wallscreens[page.wallscreen] %}
{% assign experience = site.data.experiences[page.experience] %}
<header class="title-area">
  <h1>Silicon Valley Archives</h1>
</header>

<main class="content-area">
  <pre>content-area</pre>
</main>

<aside class="card-area">
  <div class="card-content experience-index">
    <h2 class="experience-title">Bay Area Video Arcades: Photographs by Ira Nowinski</h2>

    <h3>Dig deeper</h3>
  </div>

  <h3>Explore other slideshows</h3>
  <nav class="card-nav">
    {% for wallscreen_experience in wallscreen.experiences %}
      {% assign other_experience = site.data.experiences[wallscreen_experience.key] %}
      {% if other_experience.type == experience.type and other_experience.key != page.experience %}
        <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ other_experience.key }}/index.html %}" class="button">{{ other_experience.button_label}}</a>
      {% endif %}
    {% endfor %}
  </nav>
</aside>

<footer class="interaction-area">
  {% include silicon-valley/_interaction_area.html %}
</footer>
