{% assign wallscreen = site.data.wallscreens[page.wallscreen] %}
{% assign experience = site.data.experiences[page.experience] %}

<div class="experience-buttons">
  {% if experience.type == "slideshow" %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ page.experience }}/index.html %}" class="button active">{{ experience.button_label }}</a>
  {% else %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ wallscreen.nav.defaults.slideshow }}/index.html %}" class="button">{{ site.data.experiences[wallscreen.nav.defaults.slideshow].button_label }}</a>
  {% endif %}

  {% if experience.type == "tour" %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ page.experience }}/index.html %}" class="button active">{{ experience.button_label }}</a>
  {% else %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ wallscreen.nav.defaults.tour }}/index.html %}" class="button">{{ site.data.experiences[wallscreen.nav.defaults.tour].button_label }}</a>
  {% endif %}

  {% if experience.type == "video" %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ page.experience }}/index.html %}" class="button active">{{ experience.button_label }}</a>
  {% else %}
    <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ wallscreen.nav.defaults.video }}/index.html %}" class="button">{{ site.data.experiences[wallscreen.nav.defaults.video].button_label }}</a>
  {% endif %}
</div>

<div class="secondary-buttons">
  {% if page.wallscreen and page.experience %}
  <a class="button" href="{% link _wallscreens/{{ page.wallscreen }}/{{ page.experience }}/index.html %}"><i class="fas fa-redo"></i> <span>Start over</span></a>
  {% else %}
  <button><i class="fas fa-redo"></i> <span>Start over</span></button>
  {% endif %}
  <button class="more-info"><i class="fas fa-info-circle"></i> <span>More info</span></button>
</div>

<div class="more-info-modal d-none">
  <div class="inner">
    <h2 class="title">{{ wallscreen.more_info.title }}</h2>
    <div class="content">
      {{ wallscreen.more_info.content }}
    </div>
    <hr/>
    <h4>For more information</h4>
    <ul class="links">
    {% for link in wallscreen.more_info.links %}
      <li>
        <span class="link-title">{{ link.title }}</span>
        <span class="link-text">{{ link.text }}</span>
        <a class="link-url" href="{{ link.url }}" data-qr>{{ link.url }}</a>
      </li>
    {% endfor %}
    </ul>
    <button class="close">Close</button>
  </div>
</div>
