<div class="experience-buttons">
  <a class="button {% if page.section == "slideshow" %}active{% endif %}">A history in 22 objects</a>
  <a class="button {% if page.section == "tour" %}active{% endif %}" href="{% link _wallscreens/silicon-valley/medical-devices/index.html %}">Medical devices</a>
  <a class="button {% if page.section == "video" %}active{% endif %} disabled">Silicon Genesis</a>
</div>

<div class="secondary-buttons">
  {% if page.wallscreen and page.experience %}
  <a class="button" href="{% link _wallscreens/{{ page.wallscreen }}/{{ page.experience }}/index.html %}"><i class="fas fa-redo"></i> <span>Start over</span></a>
  {% else %}
  <button><i class="fas fa-redo"></i> <span>Start over</span></button>
  {% endif %}
  <button><i class="fas fa-info-circle"></i> <span>More info</span></button>
</div>
