---
layout: base
stylesheet: css/wallscreen.scss
---

{% assign wallscreen = site.data.wallscreens[page.wallscreen] %}

<div class="wallscreen experience-index"
  data-controller="attract-mode more-info"
  data-attract-mode-next-value="{% link _wallscreens/{{ page.wallscreen }}/{{ layout.next_type }}.html %}"
  data-action="click@document->attract-mode#resetTimer">
  
  <!-- header -->
  {% include _header.html %}

  <!-- main content -->
  {{ content }}

  <!-- card area -->
  <aside class="card-area">
    <div class="card">
      <div class="card-content experience-start">
        <h2 class="experience-title">{{ layout.title }}</h2>
        <h3 class="experience-subtitle">{{ layout.subtitle }}</h3>
        <hr/>
        <nav class="experience-nav">
        {% for experience in wallscreen.experiences %}
        {% if site.data.experiences[experience.key].type == layout.experience_type %}
          <a href="{% link _wallscreens/{{ wallscreen.key }}/{{ experience.key }}/index.html %}" class="tall button select-button">
            <span class="select-experience">{{ site.data.experiences[experience.key].button_label }}</span>
            <i class="fas fa-arrow-alt-circle-right"></i>
          </a>
        {% endif %}
        {% endfor %}
        </nav>
      </div>
    </div>
  </aside>

  <!-- footer -->
  <footer class="interaction-area">
    {% include _interaction_area.html %}
  </footer>

  <!-- modal -->
  {% include _modal.html %}
</div>
