{% assign wallscreen = site.data.wallscreens[page.wallscreen] %}
<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ wallscreen.title }} • {{ layout.title }}</title>
    <meta name="description" content="{{ layout.subtitle }}">
    <link rel="icon" href="{% link images/favicon.ico %}">
    <script type="module" src="{% link js/experiences.js %}"></script>
    <link rel="stylesheet" href="{% link css/wallscreen.scss %}">
    {% include _analytics.html %}
  </head>

  <body>
    <div class="wallscreen experience-index">
      {% include _header.html %}

      {{ content }}

      <aside class="card-area">
        <div class="card">
          <div class="card-content experience-start">
            <h2 class="experience-title">{{ layout.title }}</h2>
            <h3 class="experience-subtitle">{{ layout.subtitle }}</h3>      
            <hr/>
            <nav class="experience-nav">
            {% for experience in wallscreen.experiences %}
            {% if site.data.experiences[experience.key].type == layout.experience_type %}
              <a href="{% link _wallscreens/{{ wallscreen.key }}/{{ experience.key }}/index.html %}" class="tall button start-button">
                <div class="button-content">
                  <div class="button-labels">
                    <span class="begin-experience">{{ site.data.experiences[experience.key].button_label }}</span>
                  </div>
                  <div class="button-icon">
                    <i class="fa-solid fas fa-hand-pointer"></i>
                  </div>
                </div>
              </a>
            {% endif %}
            {% endfor %}
            </nav>
          </div>
        </div>
      </aside>
      
      <footer class="interaction-area">
        {% include _interaction_area.html %}
      </footer>
      
      {% include _modal.html %}
    </div>
  </body>

</html>