{% assign wallscreen = site.data.wallscreens[page.wallscreen] %}
{% assign experience = site.data.experiences[page.experience] %}

{% include _header.html %}

<main class="content-area">
  <div class="program-content" data-slideshow-target="programArea"></div>
  <div class="preview-content" data-slideshow-target="previewArea"></div>
</main>

<aside class="card-area">
  <div class="card" data-slideshow-target="slides">
    <div class="card-content experience-start">
      {% include _experience_title.html %}
      <hr/>
      <p class="experience-summary">{{ experience.summary }}</p>
    </div>
    {% include _nav_first_card.html %}
    <template>
      {% assign attract_items = experience.items %}
      {% include _attract_grid.html %}
    </template>
  </div>

  <div class="card" data-slideshow-target="slideContainer" hidden>
    <div class="card-content">
      {% include _experience_title.html %}
      <hr/>
      {% for item in experience.items %}
        <link rel="preload" href="{% file_or_link {{item.local_image}} {{item.image}} %}" as="image">
        <div id="{{ item.title | slugify }}" data-image-url="{% file_or_link {{item.local_image}} {{item.image}} %}" data-slideshow-target="slides">

          <h3 class="item-title">{{ item.title }}</h3>
          <div class="item-attribution">
            {% if item.date %}
              <span class="item-date">{{ item.date }}</span>
            {% endif %}
            {% if item.creator and item.date %}
              <span class="separator">•</span>
            {% endif %}
            {% if item.creator %}
              <span class="item-creator">{{ item.creator }}</span>
            {% endif %}
          </div>
          <!-- <div class="item-collection">{{ item.collection }}</div> -->
          <hr class="small"/>

          <p class="item-caption">{{ item.caption }}</p>
          <p class="item-note">{{ item.note }}</p>
        </div>
      {% endfor %}
    </div>

    {% include _nav_card.html %}
  </div>

  <div id="last" class="card last-card" data-slideshow-target="slides" hidden>
    <div class="card-content">
      {% include _experience_title.html %}
      <hr/>
      {% include _dig_deeper.html %}
    </div>
    {% include _nav_last_card.html %}
    <template>
      {% include _attract_grid.html %}
    </template>
  </div>
</aside>

<footer class="interaction-area">
  {% include _interaction_area.html %}
</footer>

{% include _modal.html %}
