---
layout: backend
---

{% assign wallscreen = site.data.wallscreens[page.wallscreen] %}

<!-- header -->
<header>
  <h1>{{ wallscreen.title }}</h1>
  <h2>{{ wallscreen.subtitle }}</h2>
</header>

<!-- main content -->
<main>
  <h3>Experience Types</h3>
  <ul class="experience-index-list">
    <li><a href="{% link _wallscreens/{{ wallscreen.key }}/slideshows.html %}">Slideshows</a></li>
    <li><a href="{% link _wallscreens/{{ wallscreen.key }}/guided-tours.html %}">Guided Tours</a></li>
    <li><a href="{% link _wallscreens/{{ wallscreen.key }}/oral-histories.html %}">Oral Histories</a></li>
  </ul>
  <h3>Experiences</h3>
  <ul class="experiences-list">
    {% for exp in wallscreen.experiences %}
    {% assign experience = site.data.experiences[exp.key] %}
    <li>
        {% if experience.type == "guided_tour" %}
        {% assign preview_img = experience.local_image %}
        {% elsif experience.type == "oral_history" %}
        {% assign preview_img = experience.attract_images.first %}
        {% else %}
        {% assign preview_img = experience.items.first.local_image %}
        {% endif %}
        <a href="{% link _wallscreens/{{ wallscreen.key }}/{{ experience.key }}/index.html %}">
          <img src="{% file_or_link {{preview_img}} https://via.placeholder.com/400x225 %}"/>
        </a>
        <h4><a href="{% link _wallscreens/{{ wallscreen.key }}/{{ experience.key }}/index.html %}">{{ experience.title }}</a></h4>
        <span>{{ experience.subtitle }}</span>
      </li>
    {% endfor %}
  </ul>
</main>
