<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Gary Geisler">

    <link rel="icon" href="/images/favicon.ico">
    <script src="/js/qrcode.min.js"></script>
    <script type="module" src="/js/experiences.js"></script>
    <script src="/js/openseadragon.js"></script>
    <script src="/js/application.js"></script>

    <link rel="stylesheet" href="/css/wallscreen.css?v=1.0">
    {% if page.extra_css %}
      <link rel="stylesheet" href="/css/{{page.extra_css}}.css?v=1.0">
    {% endif %}
  </head>

  <body>
    <div class="wallscreen" {% if page.controller %} data-controller="{{ page.controller }} more-info" {% endif %}>
      {{ content }}
    </div>
  </body>
</html>
