---
layout: base
stylesheet: css/wallscreen.scss
---

{% assign wallscreen = site.data.wallscreens[page.wallscreen] %}

<div class="wallscreen" data-controller="more-info{% if layout.controller %} {{ layout.controller }}{% endif %}"
  {% case layout.controller %}
    {% when 'oral-history' %}
    data-action="more-info:show->oral-history#pause more-info:hide->oral-history#unpause more-info:show->oral-history#resetAutoplayTimer more-info:hide->oral-history#resetAutoplayTimer"
    {% else %}
    data-action="click@document->{{ layout.controller }}#resetAutoplayTimer"
  {% endcase %}>

  <!-- header -->
  {% include _header.html %}

  <!-- main content -->
  {{ content }}

  <!-- footer -->
  <footer class="interaction-area">
    {% include _interaction_area.html %}
  </footer>
  
  <!-- modal -->
  {% include _modal.html %}
</div>
