---
title: Silicon Genesis
description: ""
wallscreen: silicon-valley
experience: silicon-genesis
controller: oral-history
---
{% assign wallscreen = site.data.wallscreens[page.wallscreen] %}
{% assign experience = site.data.experiences[page.experience] %}

<header class="title-area">
  <img class="header-logo" src="{% link images/SUL-logo-whitetext.svg %}" />
  <h1>{{ wallscreen.title }}</h1>
</header>

<main class="content-area">
  <div class="d-none" data-oral-history-target="videoContainer">
    <video data-oral-history-target="video" muted="true">
      <source src="{% file_or_link {{experience.local_file}} {{experience.file}} %}" type="video/mp4">
    </video>
  </div>
  <div class="attract-mode-grid" data-oral-history-target="attractGridContainer">
    {% for image in experience.attract_images limit: 9 %}
      <div class="attract-image" style="background-image: url({% link {{image}} %})"></div>
    {% endfor %}
  </div>
</main>

<aside class="card-area">
  <div class="card" data-oral-history-target="steps">
    <div class="card-content experience-index">
      <h2 class="experience-title border-none">{{ experience.title}}</h2>
      <p class="experience-subtitle">{{ experience.subtitle }} </p>
      <div class="experience-attribution">
        <span class="experience-date">{{ experience.date }}</span>
        <span class="separator">•</span>
        <span class="experience-creator">{{ experience.creator }}</span>
        <span class="separator">•</span>
        <span class="experience-extent">{{ experience.extent }}</span>
      </div>
      <p class="experience-summary">{{ experience.summary}}</p>
    </div>

    <nav class="card-nav" data-oral-history-target="nav">
      <button class="button" data-action="oral-history#start"><span>Begin video</span> <i class="fa-solid fas fa-arrow-circle-right"></i></button>
    </nav>
  </div>

  <div class="card d-none" data-oral-history-target="chapterContainer">
    <div class="card-content">
      <h2 class="experience-title border-none">{{ experience.title}}</h2>
      <p class="experience-subtitle">{{ experience.subtitle }} </p>
      <div class="experience-attribution">
        <span class="experience-date">{{ experience.date }}</span>
        <span class="separator">•</span>
        <span class="experience-creator">{{ experience.creator }}</span>
        <span class="separator">•</span>
        <span class="experience-extent">{{ experience.extent }}</span>
      </div>
      {% assign themes = experience.items | group_by:"theme" %}
      {% for theme in themes %}
        <div class="theme d-none" data-oral-history-target="chapterContainer">
          <h3 class="theme-name">{{ theme.name }}</h3>
          <ul class="theme-chapter-list">
            {% for item in theme.items %}
              <li id="{{ item.key }}" class="chapter {{ item.class }}" data-timestamp="{{ item.timestamp }}" data-oral-history-target="steps">
                <img class="chapter-thumbnail" src="{% link images/wallscreens/{{ page.wallscreen }}/{{ page.experience }}/{{ item.key }}.png %}" />
                <h4 class="chapter-title">{{ item.title }}</h4>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>

    <nav class="card-nav" data-oral-history-target="nav">
      <button class="button" data-action="oral-history#previous"><i class="fas fa-arrow-alt-circle-left"></i> <span>Previous</span></button>
      <button class="button" data-action="oral-history#next"><span>Next</span> <i class="fas fa-arrow-alt-circle-right"></i></button>
    </nav>
  </div>

  <div id="last" class="card last-card d-none" data-oral-history-target="steps">
    <div class="card-content">
      <h2 class="experience-title border-none">{{ experience.title}}</h2>
      <p class="experience-subtitle">{{ experience.subtitle }} </p>
      <div class="experience-attribution">
        <span class="experience-date">{{ experience.date }}</span>
        <span class="separator">•</span>
        <span class="experience-creator">{{ experience.creator }}</span>
        <span class="separator">•</span>
        <span class="experience-extent">{{ experience.extent }}</span>
      </div>
      <h3>Dig deeper</h3>
      {% for item in experience.more_info %}
        <div class="dig-deeper-card">
          <a href="{{ item.url }}" data-qr class="item-url">{{ item.type }}</a><span>{{ item.text }}
        </div>
      {% endfor %}
    </div>
    <div class="card-footer">
      <h3>Explore other oral history collections</h3>
      <nav class="card-nav">
        {% for wallscreen_experience in wallscreen.experiences %}
          {% assign other_experience = site.data.experiences[wallscreen_experience.key] %}
          {% if other_experience.type == experience.type and other_experience.key != page.experience %}
            <a href="{% link _wallscreens/{{ page.wallscreen }}/{{ other_experience.key }}/index.html %}" class="button">{{ other_experience.button_label }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  </div>
</aside>

<footer class="interaction-area">
  {% include silicon-valley/_interaction_area.html %}
</footer>

{% include silicon-valley/_modal.html %}
